body {
    width: 850px;
    margin: 0 auto;
    background-image: url("../images/leading-24px.png");
}
h1 {
    padding-top: 38px;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 36px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;
    letter-spacing: -0.005em;
    color: #7b2bff
}
h2 {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 32px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;
    letter-spacing: -0.005em;
    color: #7b2bff
}
h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 24px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;
    letter-spacing: -0.005em;
    color: #7b2bff
}
p {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 16px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;
    letter-spacing: -0.005em;
    color: #3c3c3c
}