@charset "UTF-8";
/* style.css @ youngjoo1127, 2017*/
html{
    /* 6,7version 도 적용시 height: 100%; */
    /* rem 단위의 기준값*/
    font-size: 10px; 
}

 body{
     /* min 보여지는 넓이의 최소값 */
     /* 6,7version 도 적용시 height: 100%; */
     min-height: 100vh;
     margin: 0;
     /* 바디 요소의 배경 이미지 (leading 21px) 설정 */
     background-image: url("../images/leading-21px.png");
     /*본문 디자인 (상속)*/
     /* 속기형 - font: [두께] [응용] [기울기] 크기[/행간] 글꼴;*/
     font: 1.4rem/1.5 "Spoqa Han Sans";
     /*font-family: "Spoqa Han Sans";*/
     /*font-size: 1.4rem;*/
     /*line-height: 1.5;  CSS는 상속이라는 매커니즘을 사용하다 보니 단위를 붙이면 버그가 발생*/
     letter-spacing: -0.02em;
     color: #333741;
 }

header {
    margin-top: 8.4rem;
    text-align: center;
} 
main {
    margin-top: 4.2rem;
}
footer{
    margin-top: 2.1rem;
    margin-bottom: 6.3rem;
    text-align: right;
}

/* 제목/단락 공통 디자인 */
 h1,h2,h3,h4,h5,h6,p{
     /*속기형 - margin: top right bottom left; */
     margin-top: 0;
     margin-bottom: 2.1rem;
 }
/* 제목 공통디자인 */
h1,h2,h3,h4,h5,h6{
    letter-spacing: -0.05em;
}

h1,h2,h3{
    font-weight: 300;
 }
h5,h6{
    font-weight: normal;
    line-height: 2.1rem;
 }
/* 제목 개별 디자인*/
h6{
     font-size: 1.563rem;
     color: #47494e;
     /*line-height: 2.1rem;*/
 }
h5{
     font-size: 1.838rem; 
     color: #787f94;
 }
h4{}
h3{ 
     font-size: 3.169rem;
     line-height: 4.2rem;
 }
h2{}
h1{
     font-size: 5.463rem;
     line-height: 6.3rem;
 }

 /* 목록 공통 디자인 */
ul,ol{
    /*웹 브라우저 기본 스타일 (User Agent Style)제거*/
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

 /* 목록 개별 디자인 */
ul{}
ol{}

 /* 목록 항목(아이템) 디자인 */
li{
    margin-bottom: 4.2rem;
}

/*하이퍼링크디자인*/
a[href]{
    color: #3292a7;
    text-decoration: none;
}

/*상태디자인
    기본 상태 (Nomal State, :link)
    방문한 상태 (Visited State, :visited)
    마우스가 올라간 상태 (Hover State, :hover)
    클릭한(활성) 상태 (:active)
    비활성 상태 ()
    포커스 상태 ()
*/
a[href]:hover{
color: #227e92;
text-decoration: underline;
}

/*블록내 이미지 수직 정렬값 설정*/
img {
    vertical-align: bottom;
}

/*---------------------------------------------------*/

/* 페이지컨테이너 */
.contaner {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}

