body {
    width: 800px;
    /* 공간 초기화 */
    margin: 0 auto;
    /*margin-left: auto;
    margin-right: auto;*/ 
    background: url("../images/leading-24px.png");
}
p{
    margin-top: 0;
    margin-bottom: 1.5em; /* 16 x 1.5 = 24 */
    font-size: 16px;
    font-family: "Spoqa Han Sans";
    line-height: 1.5; /* 16 x 1.5 = 24 */
    letter-spacing: -0.005em; /* 1/1000로 나눔 */
    color: #010101;
}

